<div class="container pb-3">
  <div class="row">
    <div class="col-12 mt-3">
      <mat-card appearance="outlined">
        <form [formGroup]="signinForm">
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon
              svgIcon="account_circle"
              class="header-icon"></mat-icon>
          </div>
          <mat-card-title>Registrierung</mat-card-title>
          <mat-card-subtitle class="mb-0">E-Mail und Passwort angeben</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="E-Mail"
              type="email"
              color="accent"
              id="email"
              name="email"
              formControlName="email"
              class="form-control"
              required>
              <mat-error *ngIf="signinForm.controls['email'].touched && signinForm.controls['email'].hasError('required')">
                Bitte eine E-Mail eingeben.
              </mat-error>
              <mat-error *ngIf="signinForm.controls['email'].touched && signinForm.controls['email'].hasError('email')">
                Bitte eine korrekte E-Mail eingeben.
              </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Passwort"
              [type]="hide2 ? 'password' : 'text'"
              spellcheck="false"
              autocapitalize="off"
              color="accent"
              id="password"
              name="password"
              formControlName="password"
              class="form-control"
              required>
              <mat-error *ngIf="signinForm.controls['password'].touched && signinForm.controls['password'].hasError('required')">
                Bitte ein Passwort vergeben.
              </mat-error>
              <mat-error *ngIf="signinForm.controls['password'].touched && signinForm.controls['password'].hasError('minlength')">
                Das Passwort muss mindestens 6 Zeichen haben.
              </mat-error>
            <mat-icon matSuffix (click)="hide2 = !hide2" [svgIcon]="hide2 ? 'visibility_off' : 'visibility'"></mat-icon>
          </mat-form-field>
          <br />
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Passwort bestätigen"
              [type]="hide1 ? 'password' : 'text'"
              color="accent"
              id="confirm_password"
              name="confirm_password"
              formControlName="confirm_password"
              class="form-control"
              required>
              <mat-error *ngIf="signinForm.controls['confirm_password'].touched && signinForm.controls['confirm_password'].hasError('required')">
                Bitte das Passwort wiederholen.
              </mat-error>
              <!-- <mat-error *ngIf="signinForm.controls['confirm_password'].touched && signinForm.controls['password'].errors?.matchOtherValidator()">
                Die Passwörter stimmen nicht überein.
              </mat-error> -->
            <mat-icon matSuffix (click)="hide1 = !hide1" [svgIcon]="hide1 ? 'visibility_off' : 'visibility'"></mat-icon>
          </mat-form-field>
          <br />
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            (click)="onSignup()"
            [disabled]="!signinForm.touched || !signinForm.valid">
            Registrieren
            <mat-icon *ngIf="disabled">
              <mat-spinner color="accent" diameter="20"></mat-spinner>
            </mat-icon>
          </button>
          <span class="bar-spacer"></span> 
          <button
            mat-stroked-button
            color="accent"
            routerLink="/login"
            title="Zum Login">
          Zurück
          </button>
        </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
