<div class="container pb-3">
  <mat-card class="mt-3">
    <mat-card-header>
      <div class="justify-content-center align-self-center" mat-card-avatar>
        <mat-icon svgIcon="invitation"></mat-icon>
      </div>
      <mat-card-title>Einladung</mat-card-title>
      <mat-card-subtitle class="mb-0">30. Geburtstag von Sandra</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <p>
        Ich lade euch herzlich zu einem gemeinsamen Wochenende im Grünen ein.
        An diesem Wochenende möchte ich mich für all die schönen und unbezahlbaren Augenblicke, Momente & Erlebnisse mit jedem von euch bedanken. Wir zelebrieren meine letzten 30 Jahre und schauen gemeinsam vergnügt in die Zukunft.
      </p>
      <p>
        Hierfür möchte ich euch in das schöne Brandenburg entführen. Ich konnte ein Haus mit großem Garten und Wald ausfindig machen, hier können wir 3 Tage entspannen, lachen, essen, tanzen und einfach eine gute Zeit haben.
      </p>
      <p>
        Ich freue mich über musikalische Untermalung oder künstlerische Darstellung jeder Art. Wer sich hier also angesprochen fühlt, hat jede Freiheit an diesem Wochenende uns mit seinen Talenten zu begeistern.
      </p>
      <p>
        Wie ihr wisst engagiere ich mich für den Umweltschutz. Daher möchte ich euch bitten von Einweg-Plastik jeglicher Art (Ballons, Konfetti, Einwegbecher, etc.) abzusehen und euch bitten den Zug zu nutzen oder gemeinsam mit dem Auto anzureisen.
      </p>
      <p>
        Alle weiteren Infos findet ihr unter den einzelnen Menüpunkten – oder ihr fragt einfach mich. Die Webapp soll nicht die persönliche Kommunikation ersetzen. Ihr fragt euch sicher, weshalb ihr überhaupt in den Genuss dieser Webapp kommt: Philipp hat Programmieren gelernt und brauchte ein Versuchskaninchen.
      </p>
    </mat-card-content>
  </mat-card>
