<div class="container pb-3">
  <div class="row" id="home">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon svgIcon="invitation"></mat-icon>
          </div>
          <mat-card-title>Einladung</mat-card-title>
          <mat-card-subtitle class="mb-0">30. Geburtstag von Sandra</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            Ich lade euch herzlich zu einem gemeinsamen Wochenende im Grünen ein.
            An diesem Wochenende möchte ich mich für all die schönen und unbezahlbaren Augenblicke, Momente & Erlebnisse mit jedem von euch bedanken. Wir zelebrieren meine letzten 30 Jahre und schauen gemeinsam vergnügt in die Zukunft.
          </p>
          <p>
            Hierfür möchte ich euch in das schöne Brandenburg entführen. Ich konnte ein Haus mit großem Garten und Wald ausfindig machen, hier können wir 3 Tage entspannen, lachen, essen, tanzen und einfach eine gute Zeit haben.
          </p>
          <p>
            Ich freue mich über musikalische Untermalung oder künstlerische Darstellung jeder Art. Wer sich hier also angesprochen fühlt, hat jede Freiheit an diesem Wochenende uns mit seinen Talenten zu begeistern.
          </p>
          <p>
            Wie ihr wisst engagiere ich mich für den Umweltschutz. Daher möchte ich euch bitten von Einweg-Plastik jeglicher Art (Ballons, Konfetti, Einwegbecher, etc.) abzusehen und euch bitten den Zug zu nutzen oder gemeinsam mit dem Auto anzureisen.
          </p>
          <p>
            Alle weiteren Infos findet ihr unter den einzelnen Menüpunkten – oder ihr fragt einfach mich. Die Webapp soll nicht die persönliche Kommunikation ersetzen. Ihr fragt euch sicher, weshalb ihr überhaupt in den Genuss dieser Webapp kommt: Philipp hat Programmieren gelernt und brauchte ein Versuchskaninchen.
          </p>
          <p>
            <strong>Ich würde mich freuen, wenn ihr euch bis zum 15.05. bei mir melden könntet, damit ich dann in die konkrete Planung gehen kann.</strong>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            type="button"
            color="primary"
            routerLink="/rsvp"
            title="Zur Anmeldung">
            <mat-icon svgIcon="loyalty"></mat-icon>
            <span class="ml-1">Anmeldung</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img srcset="../../assets/img/event/sandra-xs_2x.jpg 580w,
          ../../assets/img/event/sandra-sm_2x.jpg 800w,
          ../../assets/img/event/sandra-md_2x.jpg 970w,
          ../../assets/img/event/sandra-lg_2x.jpg 1200w"
          sizes="(max-width: 959px) 95vw, (max-width: 1024px) 47vw, (max-width: 1279px) 37vw, 32vw"
          src="../../assets/img/event/sandra-xs_1x.jpg"
          alt="Photo of sandra"/>
      </div>
    </div>
  </div>
</div>
