<div class="container pb-3">
  <div class="row" id="home">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon
              svgIcon="invitation"
              style="font-size: 40px; height: 40px; width: 40px;"></mat-icon>
          </div>
          <mat-card-title>RSVP-App</mat-card-title>
          <mat-card-subtitle class="mb-0">Erstell' deine digitale Einladung</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            type="button"
            color="primary"
            routerLink="/register"
            title="Registieren">
            <span class="ml-1">Registieren</span>
          </button>
          <button
            mat-button
            type="button"
            color="secondary"
            routerLink="/login"
            title="Einloggen">
            <span class="ml-1">Einloggen</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img srcset="../../assets/img/event/sandra-xs_2x.jpg 580w,
          ../../assets/img/event/sandra-sm_2x.jpg 800w,
          ../../assets/img/event/sandra-md_2x.jpg 970w,
          ../../assets/img/event/sandra-lg_2x.jpg 1200w"
          sizes="(max-width: 959px) 95vw, (max-width: 1024px) 47vw, (max-width: 1279px) 37vw, 32vw"
          src="../../assets/img/event/sandra-xs_1x.jpg"
          alt="Photo of sandra"/>
      </div>
    </div> -->
  </div>
</div>
