rules_version = "2";
service cloud.firestore {
  match /databases/{database}/documents {
    match /urls/{url} {
      allow read;
      allow create: if request.auth.uid != null;
    }
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    match /users/{userId}/events/{event} {
      allow read;
      allow create, update, delete: if request.auth.uid == userId;
    }
    match /users/{userId}/events/{event}/rsvp/{rsvp} {
      allow create;
      allow read, delete, update: if request.auth.uid == userId;
    }
  }
}
