rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    match /images {
      // Cascade read to any image type at any path
      match /{allImages=**} {
        allow read;
      }

      // Allow write files to the path "images/*", subject to the constraints:
      // 1. File is less than 3MB
      // 2. Content type is an image
      match /{imageId} {
        allow write: if request.resource.size < 3 * 1024 * 1024
                      && request.resource.contentType.matches('image/.*')
      }
    }
  }
}