<div class="container">
  <mat-card *ngIf="!(rsvp | async)">
    <mat-card-content>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <mat-accordion class="headers-align">
    <mat-expansion-panel *ngFor="let participant of rsvp | async; let irsvp = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ participant?.name }}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon *ngIf="!participant?.teilnahme">block</mat-icon>
          <mat-icon *ngIf="participant?.teilnahme">check</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <ul>
          <li class="mb-1">Begleitung: {{ participant?.begleitung | questionableBoolean}}</li>
          <li class="mb-1">Hund: {{ participant?.hund | questionableBoolean}}</li>
          <li class="mb-1">Kind(er): {{ participant?.kinder }}</li>
          <li class="mb-1">Anreise: {{ participant?.anreise }}</li>
          <li class="mb-1">Ankunft: {{ participant?.anDate | date:'d. MMMM' }}</li>
          <li class="mb-1">Abreise: {{ participant?.abDate | date:'d. MMMM' }}</li>
          <li class="mb-1">Nächte: {{ participant?.naechte }}</li>
          <li class="mb-1">Unterkunft: {{ participant?.unterkuenfte }} </li>
          <li class="mb-1">Key: {{ participant?.key }}</li>
        </ul>
        <mat-action-row>
          <a
            *ngIf="participant?.email"
            mat-button
            color="accent"
            href="mailto:{{participant?.email}}"
            target="_blank">
            E-Mail schreiben
          </a>
          <button mat-button color="warn" (click)="deleteItem(participant.key)">
            Teilnehmer entfernen
          </button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card class="mat-expansion-panel-spacing" *ngIf="(rsvp | async)">
    <button
      mat-flat-button
      color="primary"
      (click)="exportAsXLSX()">
      Excel Download
    </button>
  </mat-card>
</div>
