<div class="container pb-3">
  <div class="row" id="anmeldung">
      <div class="col-12 mt-3">
        <mat-card>
          <mat-card-header>
            <div class="justify-content-center align-self-center" mat-card-avatar>
              <mat-icon svgIcon="loyalty"></mat-icon>
            </div>
            <mat-card-title>Anmeldung</mat-card-title>
            <mat-card-subtitle class="mb-0">Cool, dass du dich digital zurückmeldest. Die Anmeldung ist bis zum 15. Mai möglich.</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  <div class="row">
    <div class="col-12 mt-3">
      <ng-template [ngIf]="!zusage && !absage">
        <div class="wrapper">
          <mat-vertical-stepper linear #stepper>
            <ng-template matStepperIcon="edit">
              <mat-icon svgIcon="edit"></mat-icon>
            </ng-template>

            <ng-template matStepperIcon="done">
              <mat-icon svgIcon="check"></mat-icon>
            </ng-template>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Persönliche Daten</ng-template>
                <mat-form-field>
                  <input
                    matInput
                    required
                    placeholder="Name"
                    type="text"
                    id="name"
                    formControlName="name">
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input
                    matInput
                    required
                    placeholder="E-Mail"
                    formControlName="email"
                    email>
                </mat-form-field>
                <div>
                  <button
                    type="button"
                    mat-button matStepperNext>
                    Weiter
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="teilnahmeFormGroup">
                <form [formGroup]="teilnahmeFormGroup">
                    <ng-template matStepLabel>Teilnahme</ng-template>
                    <p>
                      <mat-slide-toggle color="primary" formControlName="teilnahme">Ich/wir nehmen teil.</mat-slide-toggle>
                    </p>
                    <div>
                        <p *ngIf="!teilnahmeFormGroup.controls['teilnahme'].value">
                          <button type="button" mat-button matStepperPrevious>Zurück</button>
                          <button type="button" mat-button (click)="onEarlyExit()">Schade :(</button>
                        </p>
                        <p *ngIf="teilnahmeFormGroup.controls['teilnahme'].value">
                          <button type="button" mat-button matStepperPrevious>Zurück</button>
                          <button type="button" mat-button matStepperNext>Ok, cool. - Weiter</button>
                        </p>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="anzahlFormGroup">
                <form [formGroup]="anzahlFormGroup">
                <ng-template matStepLabel>Anzahl</ng-template>
                <p>
                  Ich komme mit Begeleitung:<br />
                  <mat-slide-toggle color="primary" formControlName="begleitung"></mat-slide-toggle>
              </p>
                <p>
                  Ich bringe einen Hund mit:<br />
                  <mat-slide-toggle color="primary" formControlName="hund"></mat-slide-toggle>
                </p>
                <p>
                  Ich bringe Kinder mit:<br />
                  <mat-form-field>
                    <mat-select required name="kinder" formControlName="kinder">
                      <mat-option value="0">0</mat-option>
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
                <div>
                  <button type="button" mat-button matStepperPrevious>Zurück</button>
                  <button type="button" mat-button matStepperNext>Weiter</button>
                </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="anreiseFormGroup">
              <form [formGroup]="anreiseFormGroup">
                <ng-template matStepLabel>Anreise</ng-template>
                <p>
                  Ich reise an am:<br />
                  <mat-form-field class="datepicker">
                    <input
                      matInput
                      required
                      [min]="minDate" [max]="maxDate"
                      [matDatepicker]="pickerAn"
                      formControlName="andate">
                      <mat-hint
                        *ngIf="!anreiseFormGroup.controls['andate'].valid && !anreiseFormGroup.controls['andate'].touched">
                        Bsp. Datum-Format: 19.07.2019</mat-hint>
                      <mat-error
                        *ngIf="anreiseFormGroup.controls['andate'].invalid && anreiseFormGroup.controls['andate'].touched">
                        Bitte ein korrektes Datum angeben.
                      </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="pickerAn"></mat-datepicker-toggle>
                    <mat-datepicker [touchUi]="isMobile()" #pickerAn></mat-datepicker>
                  </mat-form-field>
                </p>
                <p>
                  Ich reise ab am:<br />
                  <mat-form-field class="datepicker">
                    <input
                      matInput
                      required
                      [min]="minDate" [max]="maxDate"
                      [matDatepicker]="pickerAb"
                      formControlName="abdate">
                      <mat-hint
                        *ngIf="!anreiseFormGroup.controls['abdate'].valid && !anreiseFormGroup.controls['abdate'].touched">
                        Bsp. Datum-Format: 21.07.2019</mat-hint>
                      <mat-error
                        *ngIf="anreiseFormGroup.controls['abdate'].invalid && anreiseFormGroup.controls['abdate'].touched">
                        Bitte ein korrektes Datum angeben.
                      </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="pickerAb"></mat-datepicker-toggle>
                    <mat-datepicker [touchUi]="isMobile()" #pickerAb></mat-datepicker>
                  </mat-form-field>
                </p>
                <p *ngIf="anreiseFormGroup.controls['andate'].valid && anreiseFormGroup.controls['abdate'].valid">
                  <span *ngIf="checkRange()">Anzahl Nächte: {{ nights }}</span>
                  <span *ngIf="!checkRange()" class="rsvp-error">
                    Das Datum der Abreise darf nicht vor dem Datum der Anreise liegen.
                  </span>
                </p>
                <p>
                  Ich reise an mit:<br />
                  <mat-form-field>
                    <mat-select required name="anreise" formControlName="anreise">
                      <mat-option *ngFor="let fahrzeug of fahrzeugListe" [value]="fahrzeug">{{ fahrzeug }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
                <ng-template [ngIf]="anreiseFormGroup.controls['anreise'].value == 'Zug'">
                  <p>
                    Wird eine Abholung benötigt?<br />
                    <mat-slide-toggle color="primary" formControlName="abholung"></mat-slide-toggle>
                  </p>
                  <ng-template [ngIf]="anreiseFormGroup.controls['abholung'].value == true">
                    <p>
                      Zielbahnhof<br />
                      <mat-form-field>
                        <mat-select name="zielbahnhof" formControlName="zielbahnhof">
                          <mat-option value="Kyritz">Kyritz</mat-option>
                          <mat-option value="Pritzwalk">Pritzwalk</mat-option>
                        </mat-select>
                      </mat-form-field><br>
                      <mat-form-field>
                        <input
                          matInput
                          placeholder="Ankunftszeit lt. Fahrplan"
                          type="text"
                          id="ankunftszeit"
                          formControlName="ankunftszeit">
                          <mat-hint>Bsp. Uhrzeit-Format: 12:30</mat-hint>
                      </mat-form-field>
                    </p>
                  </ng-template>
                </ng-template>
                <div>
                    <button type="button" mat-button matStepperPrevious>Zurück</button>
                    <button type="button" mat-button matStepperNext [disabled]="!checkRange()">Weiter</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="unterkunftFormGroup" *ngIf="nights > 0">
              <form [formGroup]="unterkunftFormGroup">
                <ng-template matStepLabel>Übernachtung</ng-template>
              <p *ngIf="checkRange()">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Anzahl Nächte:"
                    type="text"
                    id="naechte"
                    formControlName="naechte"
                    value="{{ nights }}"
                    readonly>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field>
                    <mat-select required placeholder="Unterkunft" formControlName="unterkuenfte" multiple>
                      <mat-option *ngFor="let unterkunft of unterkunftListe" [value]="unterkunft">{{ unterkunft }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>

                <div>
                  <button type="button" mat-button matStepperPrevious>Zurück</button>
                  <button type="button" mat-button matStepperNext>Weiter</button>
                </div>
              </form>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Fertig</ng-template>
              <div>
                <button type="button" mat-button matStepperPrevious>Zurück</button>
                <button type="submit" mat-button (click)="onSubmit()">Absenden</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </ng-template>
      <ng-template [ngIf]="zusage">
        <mat-card>
          <mat-card-content>
            <p>
              Danke, dass du dich angemeldet hast.
            </p>
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template [ngIf]="absage">
        <mat-card>
          <mat-card-content>
            <p>
              Schade, dass du nicht dabei sein wirst.
            </p>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>
  </div>
</div>
