<div class="sticky-height">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="container">
      <nav>
        <a mat-button
          class="logo pl-0"
          [routerLink]="authService.isAuthenticated() ? '/admin/event-list' : '/home'">
          <!-- <img src="./assets/img/icon_s.svg"> -->
          <!-- <mat-icon svgIcon="event" class="mr-2"></mat-icon> -->
          <span>changeKraft</span>
        </a>
      </nav>
      <span class="bar-spacer"></span>
      <button mat-icon-button
        [matMenuTriggerFor]="profileMenu"
        id="drawerButton" type="button"
        aria-label="Toggle Menu">
        <mat-icon
          aria-label="Profil"
          [svgIcon]="authService.isAuthenticated() ? 'account_circle' : 'account_circle_outline'">
        </mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/admin/profile" [disabled]="!authService.isAuthenticated()">
          <mat-icon svgIcon="account_circle"></mat-icon>
          <span>Profil anzeigen</span>
        </button>
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <button mat-menu-item routerLink="/login">
            <mat-icon aria-label="Login" svgIcon="lock_open"></mat-icon>
            <span>Anmelden</span>
          </button>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <button mat-menu-item (click)="onLogout()">
            <mat-icon aria-label="Logout" svgIcon="lock"></mat-icon>
            <span>Abmelden</span>
          </button>
        </ng-template>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<ng-template [ngIf]="authService.isAuthenticated()">
  <div class="bottom">
    <mat-toolbar>
      <mat-toolbar-row class="container">
        <button
          mat-button
          class="nav-item"
          routerLink="/admin/event-list"
          routerLinkActive="active">
          <mat-icon svgIcon="event" class="nav-item-icon"></mat-icon>
          <span class="nav-item-title">Übersicht</span>
        </button>
        <span class="bar-spacer"></span>
        <button
          mat-button
          class="nav-item"
          routerLink="/admin/tbc"
          routerLinkActive="active"
          disabled>
          <mat-icon svgIcon="hotel" class="nav-item-icon"></mat-icon>
          <span class="nav-item-title">tbc</span>
        </button>
        <span class="bar-spacer"></span>
        <button
          mat-button
          class="nav-item"
          routerLink="/admin/add-event"
          routerLinkActive="active">
          <mat-icon svgIcon="add" class="nav-item-icon"></mat-icon>
          <span class="nav-item-title">Hinzufügen</span>
        </button>
        <span class="bar-spacer"></span>
        <button
          mat-button
          class="nav-item"
          routerLink="/admin/tbc"
          routerLinkActive="active"
          disabled>
          <mat-icon svgIcon="commute" class="nav-item-icon"></mat-icon>
          <span class="nav-item-title">tbc</span>
        </button>
        <span class="bar-spacer"></span>
        <button
          mat-button
          class="nav-item"
          routerLink="/admin/settings"
          routerLinkActive="active"
          disabled>
          <mat-icon svgIcon="settings" class="nav-item-icon"></mat-icon>
          <span class="nav-item-title">Optionen</span>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</ng-template>
