<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) ? false : true"
  (click)="toggleOnlyMobile()"
  id="navButton_1">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-menu #menu="matMenu"></mat-menu>
        <button mat-menu-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item routerLink="/rsvp">
          <mat-icon>loyalty</mat-icon>
          <span>Anmeldung</span>
        </button>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <button mat-menu-item routerLink="/login">
            <mat-icon>account_circle</mat-icon>
            <span>Profil</span>
          </button>
          <button mat-menu-item routerLink="/admin/zusagen">
            <mat-icon>supervisor_account</mat-icon>
            <span>Teilnehmer</span>
          </button>
        </ng-template>
    </mat-nav-list>
  </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button *ngIf="showToggle()"
          id="drawerButton"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>www-rsvp</span>
        <span class="example-spacer"></span>
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <button mat-icon-button routerLink="/admin/">
            <mat-icon aria-label="Login">lock_open</mat-icon>
          </button>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <button mat-icon-button (click)="onLogout()" routerLink="/">
            <mat-icon aria-label="Logout">lock</mat-icon>
          </button>
        </ng-template>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
