<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" attr.role="navigation"
    mode="over" opened="false" (click)="toggleDrawer()" id="navButton_1">
    <mat-toolbar>
      <button *ngIf="!(isBigScreen$ | async)" id="drawerButton" type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
      <!-- <span>Sandra</span> -->
    </mat-toolbar>
    <mat-nav-list>
      <mat-menu #menu="matMenu"></mat-menu>
      <span *ngFor="let nav of navigation">
        <button mat-menu-item [routerLink]="nav.route" routerLinkActive="active">
          <mat-icon>{{ nav.icon }}</mat-icon>
          <span>{{ nav.name }}</span>
        </button>
      </span>
      <ng-template [ngIf]="authService.isAuthenticated()" routerLinkActive="active">
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/login">
          <mat-icon>account_circle</mat-icon>
          <span>Profil</span>
        </button>
        <button mat-menu-item routerLink="/admin/zusagen" routerLinkActive="active">
          <mat-icon>supervisor_account</mat-icon>
          <span>Teilnehmer</span>
        </button>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button *ngIf="!(isBigScreen$ | async)" id="drawerButton" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <nav mat-tab-nav-bar color="accent">
          <button mat-button
            class="logo"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <!-- <img src="./assets/icon_s.svg"> -->
            <span>Sandra</span>
          </button>
        <div *ngIf="(isBigScreen$ | async)">
          <a mat-tab-link
          *ngFor="let link of navigation"
          [routerLink]="link.route"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{link.name}}
        </a>
      </div>
    </nav>
    <span class="example-spacer"></span>
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <button mat-icon-button routerLink="/admin/">
            <mat-icon aria-label="Login">lock_open</mat-icon>
          </button>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <button mat-icon-button (click)="onLogout()" routerLink="/">
            <mat-icon aria-label="Logout">lock</mat-icon>
          </button>
        </ng-template>
      </mat-toolbar-row>
    </mat-toolbar>
    <div [@routeAnimations]="prepareRoute(outlet)" >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
