.mat-toolbar {
  &.mat-primary,
  &.mat-accent {
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

.bar-spacer {
  flex: 1 1 auto;
}

.logo {
  img {
    width: 25px;
    margin-right: 16px;
  }
  span {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.nav-item {
  line-height: 2em;
  width: unset;
  min-width: 40px;
  padding: 0 8px;
  .nav-item-title {
    display: block;
    font-size: 0.7em;
    line-height: 1.5em;
      &::before {
        content: attr(data-text);
      }
  }
}

