<div class="container pb-3 event-page">
  <div class="row" id="location">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar><mat-icon>location_on</mat-icon></div>
          <mat-card-title>Location</mat-card-title>
          <mat-card-subtitle class="mb-0">Bekemühle in Dannenwalde</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img src="./assets/grain.jpg" alt="Photo of grain">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            Inmitten der Prignitz steht eine ehemalige Mühle. Dieses schöne Haus mit großem Garten und Wald soll unser Zuhause für das Wochenende sein.
            Auf insgesamt 5 Etagen finden insgesamt 30 Übernachtungsgäste Platz, ein großer Aufenthaltsraum lädt zum Frühstücken ein, im zweiten Stock werden wir die Musik lauter drehen und ordentlich das Tanzbein schwingen und im Keller gibt es eine große Kuschelcouch – hier kann man entspannen und bei einem leckeren Getränk den Abend ausklingen lassen.
            Vorrangig nutzen wir den großen Garten – hier ist nicht nur reichlich Platz, sondern es gibt auch einen Grill, Lagerfeuer, Obstbäume, Wasser und Sauna.
          </p>
          <p>
            <i>Achtung für meine lieben Freunde mit Kindern:</i> Es gibt auf dem Gelände viel zu sehen und entdecken. Es gibt auch einen Teich auf dem Gelände, dieser ist nicht gesichert und frei zugänglich, daher bitte ich hier um besondere Aufmerksamkeit!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row" id="stay">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar><mat-icon>hotel</mat-icon></div>
          <mat-card-title>Übernachtung</mat-card-title>
          <mat-card-subtitle class="mb-0">3 großartige Optionen</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3 order-sm-first order-md-last">
      <div class="img-wrapper">
        <img src="./assets/tent.jpg" alt="Photo out of a tent">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3 order-md-first order-sm-last">
      <mat-card>
        <mat-card-content>
          <p>
            Insgesamt 30 Personen können in der „Bekemühle“ nächtigen, jedes Doppel – und Mehrbettzimmer hat ein eigenes Bad, Bett und Bettwäsche. Da es hier aber auch etwas lauter werden kann, da der Partyraum direkt mit im Haus ist, möchte ich noch weitere Möglichkeiten der Übernachtung anbieten:
          </p>
          <p>
            <i>Klassisch – im Zelt</i><br>
            Es gibt eine große Wiese neben dem Haus, etwas versteckt und entfernt vom trubeligen Obstgarten. Hier kann man es sich richtig gemütlich machen und den Sternenhimmel genießen.
          </p>
          <p>
            <i>Das Gasthaus</i><br>
            Gar nicht weit entfernt gibt es ein schönes Gasthaus, hier kann man Ruhe finden und auch etwas für sich sein, Frühstück wird direkt hier serviert – für die Frühaufsteher. Ich habe ein Zimmerkontingent bereits reserviert.
          </p>
          <p>
            <i>Bekemühle</i><br>
            Es gibt Doppelzimmer und 4-Bettzimmer: Da sich einige ja bereits seit Längerem kennen, könnt ihr euch auch gerne für ein 4-Bett Zimmer anmelden. Gebt mir einfach bescheid, damit wir den Platz bestmöglich nutzen können.
          </p>
          <p>
            Bitte tragt ein wo ihr gerne nächtigen möchtet, damit ich es planen kann.
            Pro Übernachtung in Bekemühle und Gasthaus kommen Kosten in Höhe von 50,00 EUR auf euch zu. Das Zelten ist selbstverständlich kostenfrei, hier bedarf es nur einem Zelt. Philipp und ich können leider keines zur Verfügung stellen, unser Zelt wurde von unseren Kellerratten gefressen.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            type="button"
            routerLink="/rsvp"
            fragment="anmeldung"
            title="Zur Anmeldung">
            <mat-icon>loyalty</mat-icon>
            <span class="ml-1">Anmeldung</span>
          </button>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row" id="food">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar><mat-icon>local_dining</mat-icon></div>
          <mat-card-title>Verpflegung</mat-card-title>
          <mat-card-subtitle class="mb-0">Speis & Trank</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img src="./assets/food.jpg" alt="Photo of food">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            Wie ihr wisst, koche ich unheimlich gerne und würde am liebsten für jeden von euch kochen. Da ich dann aber leider keine Zeit mehr für meine eigene Feierei und besonders euch haben werde, bitte ich um Unterstützung in der Küche. Wer also keine 2 linken Hände in der Küche hat und gerne etwas unterstützen mag: meldet euch gerne. Es wird niemand allein und die ganze Zeit in der Küche sein!
            Für Speis und Trank sorge ich für das Wochenende. Falls jemand etwas ganz Besonderes mag dann bitte selbst mitbringen.
            Ich kümmere mich um die Mahlzeiten wie im Ablauf zu sehen sowie alkoholische sowie unalkoholische Getränke für alle Tage.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row" id="transport">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar><mat-icon>commute</mat-icon></div>
          <mat-card-title>Anreise</mat-card-title>
          <mat-card-subtitle class="mb-0">Mit oder ohne Zug</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3 order-sm-first order-md-last">
      <div class="img-wrapper">
        <img src="./assets/train.jpg" alt="Photo of a train">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3 order-md-first order-sm-last">
      <mat-card>
        <mat-card-content>
          <p>
            <i>AUTO </i><br>
            Anfahrtsskizze
            <p>
            <i>ZUG </i><br>
            -	Aus Berlin <br>
            -	Aus Magdeburg <bR>
          </p>
          <p>
            An alle Zugreisenden: bitte teilt uns eure Ankunftszeit mit. Es gibt einen Shuttle (Bulli) vom Bahnhof zur Location.
          </p>
          <p>
            Ich freue mich, wenn ihr Fahrgemeinschaften bildet und die Reise auf´s Land schon das erste schöne Abenteuer an diesem Wochenende wird.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row" id="event">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar><mat-icon>event</mat-icon></div>
          <mat-card-title>Programm</mat-card-title>
          <mat-card-subtitle class="mb-0">Von A bis Y wie Yoga</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img src="./assets/program.jpg" alt="Photo of something">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            <i>FREITAG</i>
            AB 17:00 ANREISE<br>
            20:00 DINNER (ONLY VEG.) <br>
          </p>
          <p>
            <i>SAMSTAG </i>
            KINDERSCHMINKEN MIT VICKY & LIZA <br>
            08:30 MORNING YOGA MIT JANE <br>
            WALDSPAZIERGANG MIT LIANE <br>
            HOLZSCHNITZEN AM LAGERFEUER MIT PHILIPP <br>
            10:00 FRÜHSTÜCK <br>
            15:00 KAFFEEKLATSCH MIT KAFFEEEXPERTE DENNY <br>
            19:00 BBQ <br>
          </p>
          <p>
            <i> SONNTAG </i>
            08:30 MORNING RUN MIT JAN & SANDRA <br>
            10:00 FRÜHSTÜCK <br>
            12:00 ABREISE<br>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
