<div class="container pb-3">
  <div class="row" id="food">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon svgIcon="local_dining"></mat-icon>
          </div>
          <mat-card-title>Verpflegung</mat-card-title>
          <mat-card-subtitle class="mb-0">Speis & Trank</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img srcset="./assets/img/event/food-xs_2x.jpg 580w,
          ./assets/img/event/food-sm_2x.jpg 800w,
          ./assets/img/event/food-md_2x.jpg 970w,
          ./assets/img/event/food-lg_2x.jpg 1200w"
          sizes="(max-width: 959px) 95vw, (max-width: 1024px) 47vw, (max-width: 1279px) 37vw, 32vw"
          src="./assets/img/event/food-xs_1x.jpg"
          alt="Photo of food"/>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            Wie ihr wisst, koche ich unheimlich gerne und würde am liebsten für jeden von euch kochen. Da ich dann aber leider keine Zeit mehr für meine eigene Feierei und besonders euch haben werde, bitte ich um Unterstützung in der Küche. Wer also keine 2 linken Hände in der Küche hat und gerne etwas unterstützen mag: meldet euch gerne. Es wird niemand allein und die ganze Zeit in der Küche sein!
            Für Speis und Trank sorge ich für das Wochenende. Falls jemand etwas ganz Besonderes mag dann bitte selbst mitbringen.
            Ich kümmere mich um die Mahlzeiten wie im Ablauf zu sehen sowie alkoholische sowie unalkoholische Getränke für alle Tage.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
