<div class="container pb-3">
  <div class="row" id="location">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon svgIcon="location_on"></mat-icon>
          </div>
          <mat-card-title>Location</mat-card-title>
          <mat-card-subtitle class="mb-0">Bekemühle in Dannenwalde</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img srcset="../../../assets/img/event/grain-xs_2x.jpg 580w,
          ../../../assets/img/event/grain-sm_2x.jpg 800w,
          ../../../assets/img/event/grain-md_2x.jpg 970w,
          ../../../assets/img/event/grain-lg_2x.jpg 1200w"
          sizes="(max-width: 959px) 95vw, (max-width: 1024px) 47vw, (max-width: 1279px) 37vw, 32vw"
          src="../../../assets/img/event/grain-xs_1x.jpg"
          alt="Photo of grain"/>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            Inmitten der Prignitz steht eine ehemalige Mühle. Dieses schöne Haus mit großem Garten und Wald soll unser Zuhause für das Wochenende sein.
            Auf insgesamt 5 Etagen finden insgesamt 30 Übernachtungsgäste Platz, ein großer Aufenthaltsraum lädt zum Frühstücken ein, im zweiten Stock werden wir die Musik lauter drehen und ordentlich das Tanzbein schwingen und im Keller gibt es eine große Kuschelcouch – hier kann man entspannen und bei einem leckeren Getränk den Abend ausklingen lassen.
            Vorrangig nutzen wir den großen Garten – hier ist nicht nur reichlich Platz, sondern es gibt auch einen Grill, Lagerfeuer, Obstbäume, Wasser und Sauna.
          </p>
          <p>
            <i>Achtung für meine lieben Freunde mit Kindern:</i> Es gibt auf dem Gelände viel zu sehen und entdecken. Es gibt auch einen Teich auf dem Gelände, dieser ist nicht gesichert und frei zugänglich, daher bitte ich hier um besondere Aufmerksamkeit!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            type="button"
            color="primary"
            routerLink="/rsvp"
            title="Zur Anmeldung">
            <mat-icon svgIcon="loyalty"></mat-icon>
            <span class="ml-1">Anmeldung</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
