<div class="container pb-3">
  <div class="row">
    <div class="col-12 mt-3">
      <mat-card appearance="outlined">
        <form [formGroup]="eventForm">
          <mat-card-header>
            <div class="justify-content-center align-self-center" mat-card-avatar>
              <mat-icon svgIcon="invitation" class="header-icon"></mat-icon>
            </div>
            <mat-card-title>Event hinzufügen</mat-card-title>
            <mat-card-subtitle class="mb-0">Hier wird das Event erstellt</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="row mt-3">
              <h3>Details</h3>
              <mat-form-field class="w-100">
                <mat-label>Name</mat-label>
                <input matInput type="text" color="accent" id="name" formControlName="name"
                  class="form-control" required />
                <mat-error *ngIf="
                    eventForm.controls['name'].touched &&
                    !eventForm.controls['name'].valid
                  ">
                  Bitte dem Event einen Namen geben.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" [ngClass]="{ 'mat-form-field-invalid': !urlAvailable }">
                <mat-label>URL</mat-label>
                <input matInput type="text" color="accent" id="url" formControlName="url" 
                  placeholder="> 4 Zeichen, Buchstaben & Zahlen"
                  class="form-control" minlength="5" required />
                <mat-error *ngIf="
                    eventForm.controls['url'].touched &&
                    !eventForm.controls['url'].valid
                  ">{{ getErrorMessage() }}</mat-error>
                <mat-hint *ngIf="!urlAvailable">
                  Diese URL ist leider nicht mehr verfügbar.
                </mat-hint>
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Beschreibung</mat-label>
                <textarea matInput type="text" color="accent" id="desc" formControlName="desc"
                  class="form-control" required>
                </textarea>
                  <mat-error *ngIf="eventForm.controls['desc'].touched && !eventForm.controls['desc'].valid">
                    Bitte eine Beschreibung verfassen.
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="row mt-3">
              <h3>Link</h3>
              <mat-form-field class="w-100">
                <mat-label>Adresse (inkl. https://)</mat-label>
                <input matInput type="text" color="accent" id="link" formControlName="link"
                  class="form-control" />
              </mat-form-field>
              <mat-form-field class="w-100" [ngClass]="{ 'mat-form-field-invalid': !urlAvailable }">
                <mat-label>Link-Titel</mat-label>
                <input matInput type="text" color="accent" id="linkLabel" formControlName="linkLabel" class="form-control"/>
                <mat-error *ngIf="
                    eventForm.controls['link'].touched &&
                    !eventForm.controls['link'].valid &&
                    eventForm.controls['linkLabel'].touched &&
                    !eventForm.controls['linkLabel'].valid
                  ">Bitte einen Link-Titel vergeben</mat-error>
              </mat-form-field>
            </div>
            <div formGroupName="dates" class="row mt-3">
              <h3>Datum </h3>
              <mat-checkbox id="multipleDays" name="multipleDays" labelPosition="before" formControlName="multipleDays">
                <span class="text-grey">Mehrtägig</span></mat-checkbox><br />
              <mat-form-field class="w-100 datepicker">
                <mat-label>Beginn</mat-label>
                <input matInput required placeholder="TT.DD.JJJJ" [min]="minDateStart" [max]="maxDate"
                  [matDatepicker]="pickerAn" formControlName="startDate"/>
                <mat-error *ngIf="
                      dates.controls['startDate'].invalid &&
                      dates.controls['startDate'].touched
                    ">
                  Bitte ein korrektes Datum angeben.
                </mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="pickerAn"></mat-datepicker-toggle>
                <mat-datepicker #pickerAn></mat-datepicker>
              </mat-form-field>
              <div *ngIf="dates.controls['multipleDays'].value">
                <mat-form-field class="w-100 datepicker">
                  <mat-label>Ende</mat-label>
                  <input matInput placeholder="TT.DD.JJJJ" [min]="minDateEnd" [max]="maxDate" [matDatepicker]="pickerAb"
                    formControlName="endDate" required />
                  <mat-error *ngIf="dates.controls['endDate'].touched">
                    Bitte ein korrektes Datum angeben.
                  </mat-error>
                  <mat-datepicker-toggle matIconSuffix [for]="pickerAb"></mat-datepicker-toggle>
                  <mat-datepicker #pickerAb></mat-datepicker>
                </mat-form-field>
                <span style="color: grey" *ngIf="
                  dates.controls['startDate'].valid &&
                  dates.controls['endDate'].valid
                  ">
                  <span *ngIf="checkRange()">Dauer des Events: {{ calcDays() }}
                    {{ checkPlural() }}</span>
                  <span *ngIf="!checkRange()" class="text-error">
                    Das Zeitraumkontinuum ist in Gefahr.
                  </span>
                </span>
              </div>
            </div>
            <div formGroupName="images" class="row mt-3">
              <h3>Bilder </h3>
              <span class="text-grey">(max 3 MB; png & jpg)</span>
              <mat-form-field class="w-100">
                <mat-label>Icon</mat-label>
                <ngx-mat-file-input type="file" accept=".png,.jpg" id="iconUrl" name="iconUrl" class="form-control"
                  formControlName="iconUrl" (change)="onImageSelected($event, 'icon')"
                  placeholder="{{ placeholderIcon }}" [valuePlaceholder]="placeholderIcon">
                </ngx-mat-file-input>
                <mat-icon matSuffix svgIcon="upload"></mat-icon>
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Header</mat-label>
                <ngx-mat-file-input type="file" accept=".png,.jpg" id="headerUrl" name="headerUrl" class="form-control"
                  formControlName="headerUrl" (change)="onImageSelected($event, 'header')"
                  placeholder="{{ placeholderHeader }}" [valuePlaceholder]="placeholderHeader">
                </ngx-mat-file-input>
                <mat-icon matSuffix svgIcon="upload"></mat-icon>
              </mat-form-field>
            </div>
            <div class="row mt-3">
              <h3 *ngIf="iconPath || headerPath">Vorschau</h3>
              <div class="col-6">
                <img class="img-thumbnail img-fluid w-100" [src]="iconPath" *ngIf="iconPath">
              </div>
              <div class="col-6">
                <img class="img-thumbnail img-fluid w-100" [src]="headerPath" *ngIf="headerPath">
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button type="button" title="Speichern" (click)="onSave()" color="primary" [disabled]="
                eventForm.invalid ||
                !eventForm.controls['url'].touched ||
                !urlAvailable ||
                !checkRange()
              ">
              <span>Speichern</span>
            </button>
            <!-- <span class="bar-spacer"></span>
            <button
              mat-flat-button
              type="button"
              title="Löschen"
              (click)="canExit()"
              color="warn"
              [disabled]="!eventForm.dirty">
              <span>Löschen</span>
            </button> -->
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>