<div class="container pb-3">
  <div class="row">
    <div class="col-12 mt-3">
      <mat-card appearance="outlined">
        <form [formGroup]="eventForm">
          <mat-card-header>
            <div class="justify-content-center align-self-center" mat-card-avatar>
              <mat-icon
                svgIcon="invitation"
                class="header-icon"></mat-icon>
            </div>
            <mat-card-title>Event hinzufügen</mat-card-title>
            <mat-card-subtitle class="mb-0">Hier wird das Event erstellt</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="text"
                  color="accent"
                  id="name"
                  formControlName="name"
                  placeholder="Name"
                  class="form-control"
                  required>
                  <mat-error *ngIf="eventForm.controls['name'].touched && !eventForm.controls['name'].valid">
                    Bitte dem Event einen Namen geben.
                  </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field
                class="w-100"
                [ngClass]="{'mat-form-field-invalid': !urlAvailable}">
                <input
                  matInput
                  type="text"
                  color="accent"
                  id="url"
                  formControlName="url"
                  placeholder="URL"
                  class="form-control"
                  minlength="5"
                  required>
                  <mat-error *ngIf="eventForm.controls['url'].touched && !eventForm.controls['url'].valid">{{ getErrorMessage() }}</mat-error>
                  <mat-hint *ngIf="!urlAvailable">
                    Diese URL ist leider nicht mehr verfügbar.
                  </mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="w-100">
                <textarea
                  matInput
                  type="text"
                  color="accent"
                  id="desc"
                  formControlName="desc"
                  placeholder="Beschreibung"
                  class="form-control"
                  required>
                  <mat-error *ngIf="eventForm.controls['desc'].touched && !eventForm.controls['desc'].valid">
                    Bitte eine Beschreibung verfassen.
                  </mat-error>
                </textarea>
              </mat-form-field>
            </p>
            <div formGroupName="dates">
              <span>Datum </span>
              <mat-checkbox
                id="multipleDays"
                name="multipleDays"
                labelPosition="before"
                formControlName="multipleDays">
                <span class="text-grey">| mehrtägig</span>
              </mat-checkbox><br />
              <mat-form-field class="w-100 datepicker">
                <input
                  matInput
                  required
                  placeholder="Beginn"
                  [min]="minDate" [max]="maxDate"
                  [matDatepicker]="pickerAn"
                  formControlName="startDate">
                  <mat-hint
                    *ngIf="!dates.controls['startDate'].valid && !dates.controls['startDate'].touched">
                    Datum-Format: TT.DD.JJJJ</mat-hint>
                  <mat-error
                    *ngIf="dates.controls['startDate'].invalid && dates.controls['startDate'].touched">
                    Bitte ein korrektes Datum angeben.
                  </mat-error>
                <mat-datepicker-toggle matSuffix [for]="pickerAn"></mat-datepicker-toggle>
                <mat-datepicker [touchUi]="isMobile()" #pickerAn></mat-datepicker>
              </mat-form-field>
            <div *ngIf="dates.controls['multipleDays'].value === true">
              <mat-form-field class="w-100 datepicker">
                <input
                  matInput
                  placeholder="Ende"
                  [min]="minDate" [max]="maxDate"
                  [matDatepicker]="pickerAb"
                  formControlName="endDate"
                  required>
                  <mat-hint
                    *ngIf="!dates.controls['endDate'].touched">
                    Datum-Format: TT.DD.JJJJ</mat-hint>
                  <mat-error
                    *ngIf="dates.controls['endDate'].touched">
                    Bitte ein korrektes Datum angeben.
                  </mat-error>
                <mat-datepicker-toggle matSuffix [for]="pickerAb"></mat-datepicker-toggle>
                <mat-datepicker [touchUi]="isMobile()" #pickerAb></mat-datepicker>
              </mat-form-field>
              <span
                style="color:grey"
                *ngIf="dates.controls['startDate'].valid && dates.controls['endDate'].valid">
                <span *ngIf="checkRange()">Dauer des Events: {{ calcDays() }} {{ checkPlural() }}</span>
                <span *ngIf="!checkRange()" class="text-error">
                  Das Zeitraumkontinuum ist in Gefahr.
                </span>
              </span>
            </div>
          </div>
          </mat-card-content>
          <mat-card-actions>
            <button
            mat-flat-button
            type="button"
            title="Speichern"
            (click)="onSave()"
            color="primary"
            [disabled]="eventForm.invalid || !eventForm.controls['url'].touched || !urlAvailable || !checkRange()">
              <span>Speichern</span>
            </button>
            <!-- <span class="bar-spacer"></span>
            <button
              mat-stroked-button
              type="button"
              title="Abbrechen"
              routerLink="/admin/dashboard" 
              color="warn">
              <span>Abbrechen</span>
            </button> -->
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
