<div class="container pb-3">
  <div class="row" id="stay">
      <div class="col-12 mt-3">
        <mat-card>
          <mat-card-header>
            <div class="justify-content-center align-self-center" mat-card-avatar>
              <mat-icon svgIcon="hotel"></mat-icon>
            </div>
            <mat-card-title>Übernachtung</mat-card-title>
            <mat-card-subtitle class="mb-0">3 großartige Optionen</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mt-3 order-sm-first order-md-last">
        <div class="img-wrapper">
          <img srcset="./assets/img/event/tent-xs_2x.jpg 580w,
          ./assets/img/event/tent-sm_2x.jpg 800w,
          ./assets/img/event/tent-md_2x.jpg 970w,
          ./assets/img/event/tent-lg_2x.jpg 1200w"
          sizes="(max-width: 959px) 95vw, (max-width: 1024px) 47vw, (max-width: 1279px) 37vw, 32vw"
          src="./assets/img/event/tent-xs_1x.jpg"
          alt="Photo out of a tent"/>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-8 mt-3 order-md-first order-sm-last">
        <mat-card>
          <mat-card-content>
            <p>
              <i>Bekemühle</i><br>
              Es gibt Doppelzimmer und 4-Bettzimmer: Da sich einige ja bereits seit Längerem kennen, könnt ihr euch auch gerne für ein 4-Bett Zimmer anmelden. Gebt mir einfach Bescheid, damit wir den Platz bestmöglich nutzen können. Pro Übernachtung in Bekemühle kommen Kosten in Höhe von 20,00 € (pro Person & Nacht) auf euch zu.
            </p>
            <p>
              Insgesamt 30 Personen können in der „Bekemühle“ nächtigen, jedes Doppel – und Mehrbettzimmer hat ein eigenes Bad, Bett und Bettwäsche. Da es hier aber auch etwas lauter werden kann und die Anzahl der Betten begrenzt ist, möchte ich noch weitere Möglichkeiten der Übernachtung anbieten:
            </p>
            <p>
              <i>Klassisch – im Zelt</i><br>
              Es gibt eine große Wiese neben dem Haus, etwas versteckt und entfernt vom trubeligen Obstgarten. Hier kann man es sich richtig gemütlich machen und den Sternenhimmel genießen. Das Zelten ist selbstverständlich kostenfrei, hier bedarf es nur einem Zelt.
            </p>
            <p>
              <i>Das Gasthaus</i><br>
              Gar nicht weit entfernt gibt es ein schönes Gasthaus, hier kann man Ruhe finden und auch etwas für sich sein, Frühstück wird direkt hier serviert – für die Frühaufsteher*innen. Ein Doppelzimmer kostet hier etwa 80,00 € pro Nacht.
            </p>
            <p>
              Bitte tragt ein wo ihr gerne nächtigen möchtet, damit ich es planen kann.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-flat-button
              type="button"
              color="primary"
              routerLink="/rsvp"
              title="Zur Anmeldung">
              <mat-icon svgIcon="loyalty"></mat-icon>
              <span class="ml-1">Anmeldung</span>
            </button>
            <a
              mat-stroked-button
              color="primary"
              class="ml-2"
              href="https://goo.gl/maps/ET3b7wnmuXS2"
              target="_blank"
              title="Zum Hotel">
              <mat-icon svgIcon="hotel"></mat-icon>
              <span class="ml-1">Hotel</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>
