<div class="container pb-3">
  <div class="row">
    <div class="col-12 mt-3">
        <mat-card *ngIf="!(event$ | async)" class="mt-3">
        <mat-card-content>
          <mat-progress-bar mode="query"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="(event$ | async)" class="mt-3">
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon
              svgIcon="supervisor_account"
              style="font-size: 40px; height: 40px; width: 40px;"></mat-icon>
          </div>
          <mat-card-title>Übersicht</mat-card-title>
          <mat-card-subtitle class="mb-0">Alle Events</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-accordion class="headers-align">
        <div class="mt-3">
          <mat-expansion-panel *ngFor="let event of event$ | async; let ievent = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ event?.name }}
              </mat-panel-title>
              <mat-panel-description>
                {{ event?.desc }}
              </mat-panel-description>
            </mat-expansion-panel-header>
              <ul>
                <li class="mb-1">Beschreibung: {{ event?.desc }}</li>
                <li class="mb-1">Event: {{ event?.name }}</li>
              </ul>
              <mat-action-row>
                <button
                  mat-button
                  color="primary"
                  [routerLink]="['../../event/' + event?.url]">Event ansehen</button>
                  <button
                  mat-button
                  color="primary"
                  [routerLink]="['../edit-event/' + event?.id]">Event bearbeiten</button>
                <!-- <button mat-button *ngIf="!editMode" color="primary" (click)="editMode = !editMode" title="Teilnehmer bearbeiten">
                  <mat-icon svgIcon="edit"></mat-icon>
                </button>
                <button
                  mat-button
                  *ngIf="editMode"
                  color="primary"
                  (click)="editMode = !editMode; updateItem(participant.id, begleitung.checked)"
                  title="Teilnehmer bearbeiten">
                  <mat-icon svgIcon="save"></mat-icon>
                </button>
                <a
                  *ngIf="participant?.email"
                  mat-button
                  color="primary"
                  href="mailto:{{participant?.email}}"
                  target="_blank"
                  title="E-Mail schreiben">
                  <mat-icon svgIcon="email"></mat-icon>
                </a> -->
                <button mat-button color="warn" (click)="openDialog(event?.id, event?.name)" title="Event löschen">
                  <mat-icon svgIcon="delete"></mat-icon>
                </button>
              </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion>

      <!-- <mat-card class="mt-3" *ngIf="(event$ | async)">
        <button
          mat-flat-button
          color="primary"
          (click)="exportAsXLSX()"
          matBadge="{{ counter }}"
          matBadgePosition="above after"
          matBadgeColor="accent">
          Excel Download
        </button>
      </mat-card> -->
    </div>
  </div>
</div>
