<div class="container pb-3">
  <div class="row" id="home">
    <div class="col-12 mt-3">
      <mat-card appearance="outlined" *ngIf="(event$ | async) === null">
        <mat-card-content>
          <mat-progress-bar mode="query"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <ng-template [ngIf]="(event$ | async)">
  <div class="row" id="home">
      <div class="col-12">
        <mat-card appearance="outlined">
          <mat-card-header>
            <div class="justify-content-center align-self-center" mat-card-avatar>
              <mat-icon
                svgIcon="invitation"
                class="header-icon"></mat-icon>
            </div>
            <mat-card-title>{{(event$ | async)?.name}}</mat-card-title>
            <mat-card-subtitle class="mb-0">
              <span *ngIf="!(event$ | async)?.dates.multipleDays">
                {{ (event$ | async)?.dates.startDate.seconds * 1000 | date:'d.MM.yy' }}
              </span>
              <span *ngIf="(event$ | async)?.dates.multipleDays">
                {{ (event$ | async)?.dates.startDate.seconds * 1000 | date:'d.MM' }} —
                {{ (event$ | async)?.dates.endDate.seconds * 1000 | date:'d.MM.yy' }}
              </span>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ (event$ | async)?.desc }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button
              *ngIf="authservice.isAuthenticated()"
              mat-stroked-button
              type="button"
              color="accent"
              title="Zurück"
              [routerLink]="['../../admin/edit-event/' + eventId]"
              [disabled]="!authservice.isAuthenticated()"> Zurück
            </button>
            <span class="bar-spacer"></span>
            <button
              mat-flat-button
              type="button"
              color="primary"
              title="Anmeldung"
              routerLink="rsvp/">RSPV
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-template>
</div>
