<div class="container pb-3">
  <div class="row" id="home" *ngIf="(event$ | async) === null">
    <div class="col-12 mt-3">
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-progress-bar mode="query"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <ng-template [ngIf]="(event$ | async)">
    <div class="row" id="home">
      <div class="col-12 mt-3">
        <mat-card appearance="outlined">
          <mat-card-header>
            <div *ngIf="(event$ | async)?.images.iconUrl" class="justify-content-center align-self-center"
              mat-card-avatar style="
                background-image: url('{{ (event$ | async)?.images.iconUrl }}'); 
                background-size: cover;">
              <mat-icon *ngIf="!(event$ | async)?.images" svgIcon="invitation" class="header-icon"></mat-icon>
            </div>
            <div *ngIf="!(event$ | async)?.images" class="justify-content-center align-self-center" mat-card-avatar>
              <mat-icon svgIcon="invitation" class="header-icon"></mat-icon>
            </div>
            <mat-card-title>{{(event$ | async)?.name}}</mat-card-title>
            <mat-card-subtitle class="mb-0">
              <span *ngIf="!(event$ | async)?.dates.multipleDays">
                {{ (event$ | async)?.dates.startDate.seconds * 1000 | date:'d.MM.yy' }}
              </span>
              <span *ngIf="(event$ | async)?.dates.multipleDays">
                {{ (event$ | async)?.dates.startDate.seconds * 1000 | date:'d.MM' }} —
                {{ (event$ | async)?.dates.endDate.seconds * 1000 | date:'d.MM.yy' }}
              </span>
            </mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="(event$ | async)?.images.headerUrl" mat-card-image style="
            background-image: url('{{ (event$ | async)?.images.headerUrl }}');
            background-position: center center; 
            background-repeat: no-repeat;
            background-size: cover;
            height: 250px; 
            max-width: 100%;
            width: 100%;">
          <mat-card-content>
            <p>
              {{ (event$ | async)?.desc }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="!(event$ | async)?.link" mat-flat-button type="button" color="primary" title="Anmeldung" routerLink="rsvp/">RSPV
            </button>
            <a *ngIf="(event$ | async)?.link" mat-flat-button color="primary" href="{{ (event$ | async)?.link }}">{{ (event$ | async)?.linkLabel }}</a>
            <span class="bar-spacer"></span>
            <button *ngIf="authservice.isAuthenticated()" mat-stroked-button type="button" color="accent" title="Zurück"
              [routerLink]="['../../admin/edit-event/' + eventId]" [disabled]="!authservice.isAuthenticated()"> Zurück
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-template>
</div>