<div class="container pb-3">
  <div class="row" id="transport">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon svgIcon="commute"></mat-icon>
          </div>
          <mat-card-title>Anreise</mat-card-title>
          <mat-card-subtitle class="mb-0">Mit oder ohne Zug</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3 order-sm-first order-md-last">
      <div class="img-wrapper">
        <img srcset="./assets/img/event/train-xs_2x.jpg 580w,
          ./assets/img/event/train-sm_2x.jpg 800w,
          ./assets/img/event/train-md_2x.jpg 970w,
          ./assets/img/event/train-lg_2x.jpg 1200w"
          sizes="(max-width: 959px) 95vw, (max-width: 1024px) 47vw, (max-width: 1279px) 37vw, 32vw"
          src="./assets/img/event/train-xs_1x.jpg"
          alt="Photo of a train"/>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3 order-md-first order-sm-last">
      <mat-card>
        <mat-card-content>
          <p>
            <strong>Adresse</strong><br>
            Bekemühle<br>
            Kolreper Damm 14<br>
            16866 Gumtow<br>
          </p>
          <p>
            <strong>Mit dem Auto</strong><br>
            <a
            mat-stroked-button
            color="primary"
            class="mt-1"
            href="https://goo.gl/maps/tqEtuEPG8pD2"
            target="_blank"
            title="Navigation">
              <mat-icon svgIcon="directions"></mat-icon>
              <span class="ml-1">Navigation starten</span>         
            </a>
          </p>
            <strong>Mit dem Zug</strong><br>
            Freitag // 19.07.2019<br>
            <ul class="mt-2">
              <li>
                Ab Magdeburg 15:08 via Wittenberge
              </li>
              <li>
                An Pritzwalk 17:39
              </li>
              <i>// verkehrt stündlich //</i>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 15:25
              </li>
              <li>
              An Pritzwalk 17:39
              </li>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 17:06
              </li>
              <li>
              An Pritzwalk 18:39
              </li>
              <i>// verkehrt all 2 Stunden //</i>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 16:25
              </li>
              <li>
              An Kyritz 17:46
              </li>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 18:25
              </li>
              <li>
              An Kyritz 19:54
              </li>
              <i>// Letzter Zug an dem Tag //</i>
            </ul>
            Samstag // 20.07.2019<br>
            <ul class="mt-2">
              <li>
                Ab Magdeburg 09:08 via Wittenberge
              </li>
              <li>
                An Pritzwalk 11:39
              </li>
              <i>// verkehrt alle 2 Stunden //</i>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 09:06
              </li>
              <li>
              An Pritzwalk 10:39
              </li>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 13:06
              </li>
              <li>
              An Pritzwalk 14:39
              </li>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 15:06
              </li>
              <li>
              An Pritzwalk 16:39
              </li>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 17:06
              </li>
              <li>
              An Pritzwalk 18:39
              </li>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 11:25
              </li>
              <li>
              An Kyritz 12:56
              </li>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 15:25
              </li>
              <li>
              An Kyritz 16:56
              </li>
            </ul>
            <ul>
              <li>
              Ab Berlin HBF 19:25
              </li>
              <li>
              An Kyritz 20:56
              </li>
              <i>// letzter Zug an dem Tag //</i>
            </ul>
          <p>
            An alle Zugreisenden: bitte teilt uns eure Ankunftszeit mit. Es gibt einen Shuttle vom Bahnhof zur Location.
          </p>
          <p>
            Ich freue mich, wenn ihr Fahrgemeinschaften bildet und die Reise auf's Land schon das erste schöne Abenteuer an diesem Wochenende wird.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button
              mat-flat-button
              type="button"
              color="primary"
              routerLink="/rsvp"
              title="Zur Anmeldung">
              <mat-icon svgIcon="loyalty"></mat-icon>
              <span class="ml-1">Anmeldung</span>
            </button>
            <a
              mat-stroked-button
              color="primary"
              class="ml-2"
              href="https://goo.gl/maps/tqEtuEPG8pD2"
              target="_blank"
              title="Zu Google Maps">
              <mat-icon svgIcon="directions"></mat-icon>
              <span class="ml-1">Route</span>
            </a>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
