<div class="container pb-3 event-page">
  <div class="row" id="transport">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar><mat-icon>commute</mat-icon></div>
          <mat-card-title>Anreise</mat-card-title>
          <mat-card-subtitle class="mb-0">Mit oder ohne Zug</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3 order-sm-first order-md-last">
      <div class="img-wrapper">
        <img src="./assets/img/train.jpg" alt="Photo of a train">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3 order-md-first order-sm-last">
      <mat-card>
        <mat-card-content>
          <p>
            <i>AUTO </i><br>
            Anfahrtsskizze
            <p>
            <i>ZUG </i><br>
            -	Aus Berlin <br>
            -	Aus Magdeburg <bR>
          </p>
          <p>
            An alle Zugreisenden: bitte teilt uns eure Ankunftszeit mit. Es gibt einen Shuttle (Bulli) vom Bahnhof zur Location.
          </p>
          <p>
            Ich freue mich, wenn ihr Fahrgemeinschaften bildet und die Reise auf´s Land schon das erste schöne Abenteuer an diesem Wochenende wird.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
