<mat-card appearance="outlined" class="user-profil">
  <button
    class="position-absolute top-0 end-0"
    mat-icon-button 
    [matMenuTriggerFor]="more">
    <mat-icon class="position-absolute top-50 translate-middle start-50" aria-label="Weitere Optionen" svgIcon="more_vert"></mat-icon>
  </button>
  <mat-card-header>
    <div class="justify-content-center align-self-center" mat-card-avatar>
      <mat-icon
        svgIcon="account_circle"
        class="header-icon"></mat-icon>
    </div>
    <mat-card-title>
      Profil
      <span *ngIf="userService.name"> von {{ userService.name }}</span>
    </mat-card-title>
    <mat-card-subtitle class="mb-0">{{ userService.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #profileform="ngForm">
      <mat-form-field class="w-100" hideRequiredMarker>
        <input
          matInput
          type="text"
          color="accent"
          id="displayname"
          name="displayname"
          [(ngModel)]="userService.name"
          placeholder="Name"
          class="form-control"
          required>
          <button
            mat-button
            matSuffix
            [disabled]="!profileform.dirty"
            *ngIf="userService.name"
            aria-label="Speichern"
            (click)="updateUser(profileform)"
            title="Speichern">
            <mat-icon svgIcon="autorenew" [@rotate]="animate"></mat-icon>
          </button>
          <mat-hint *ngIf="!userService.name">
            Bitte einen Namen angeben.
          </mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="updateUser(profileform)"
      [disabled]="!profileform.dirty"
      title="Speichern">Speichern
    </button>
    <mat-menu #more="matMenu">
      <button
        mat-menu-item
        (click)="updateEmailDialog()"
        type="button"
        title="E-Mail ändern">
        <mat-icon aria-label="E-Mail ändern" svgIcon="email"></mat-icon>
        <span>E-Mail ändern</span>
      </button>
      <button
        mat-menu-item
        routerLink="/password-reset"
        type="button"
        title="Passwort ändern">
        <mat-icon aria-label="Passwort ändern" svgIcon="password"></mat-icon>
        <span>Passwort ändern</span>
      </button>
      <button
        mat-menu-item
        (click)="deleteDialog()"
        color="warn"
        type="button"
        title="Benutzer löschen">
        <mat-icon aria-label="Benutzer löschen" svgIcon="delete" color="warn"></mat-icon>
        <span>Account löschen</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>