
<div class="row">
  <div class="col-12 mt-3">
    <mat-card appearance="outlined" *ngIf="(event$ | async) === null">
      <mat-card-content>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" *ngIf="(event$ | async) || null">
      <mat-card-header>
        <div class="justify-content-center align-self-center" mat-card-avatar>
          <mat-icon
            svgIcon="event"
            class="header-icon"
            matBadge="{{ counter }}"
            matBadgeColor="accent"></mat-icon>
        </div>
        <mat-card-title>Events</mat-card-title>
        <mat-card-subtitle class="mb-0">Du hast derzeit {{ counter }} {{ checkPlural() }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-2 mb-2">
        <mat-chip-listbox aria-label="Events">
          <mat-chip-option 
            [routerLink]="['../edit-event/' + event?.id]"
            [color]="event?.dates.multipleDays ? 'primary' : 'accent'"
            *ngFor="let event of event$ | async; let ievent = index"
            matTooltip="{{ event?.desc }}">
            {{ event?.name }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-flat-button
          type="button"
          routerLink="/admin/add-event"
          color="primary"
          title="Speichern">Event erstellen
        </button>
        <span style="flex: 1 1 auto;"></span> 
      </mat-card-actions>
    </mat-card>
  </div>
</div>
