@use '@angular/material' as mat;

@include mat.core();

// Color Settings
$rsvp-primary: mat.m2-define-palette(mat.$m2-teal-palette, 600);
$rsvp-accent: mat.m2-define-palette(mat.$m2-deep-purple-palette, 300);
$rsvp-warn: mat.m2-define-palette(mat.$m2-red-palette, 900);

// Font Settings
// @import './assets/fonts/raleway/raleway';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
$rsvp-typography-level: mat.m2-define-typography-level(
  $font-family: Raleway,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$rsvp-typography-config: mat.m2-define-typography-config(
  $headline-1: mat.m2-define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.m2-define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.m2-define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.m2-define-typography-level(34px, 40px, 400),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 400),
);

$rsvp-theme: mat.m2-define-dark-theme((
 color: (
   primary: $rsvp-primary,
   accent: $rsvp-accent,
   warn: $rsvp-warn
 ),
 typography: $rsvp-typography-config,
 density: 0,
));


@include mat.all-component-themes($rsvp-theme);

@import './assets/scss/bootstrap';

.header-icon {
  // font-size: 40px;
  height: 40px !important;
  width: 40px !important;
}

.bar-spacer {
  flex: 1 1 auto;
}

.text-error {
  color: mat.m2-get-color-from-palette($rsvp-warn);
}

.text-grey {
  color: rgba(0, 0, 0, 0.54)
}

.mdc-button {
  .mat-mdc-progress-spinner {
    position: initial;
  }
}

.mat-mdc-snack-bar-handset {
  margin-bottom: env(safe-area-inset-bottom) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway'; overflow-x: hidden; background: #303030; color: #fff; }
input { font-size: 16px;}

.active {
  color: mat.m2-get-color-from-palette($rsvp-primary);
}

.mat-badge-medium .mat-badge-content {
  line-height: 20px;
}

.mat-mdc-card-content {
  margin: 0.5rem 0;
}

// .fab {
//   @include media-breakpoint-up(sm) {
//     bottom: 80px;
//   }
//   bottom: 72px;
//   right:16px;
//   z-index: 5;
// }

.header-padding {
  @include media-breakpoint-up(sm) {
    padding-top: 64px;
  }
  padding-top: 56px;
}
.sticky-height {
  @include media-breakpoint-up(sm) {
    height: 64px;
  }
  height: 56px;
}

.user-profil {
  .mat-mdc-button {
    min-width: inherit;
    margin-right: 8px;
    &>.mat-icon {
      margin-right: 0px;
    }
  }
}

.css-util {
  &.text-align {
    &.center {
      text-align: center;
    }
  }

  &.m-32 {
    margin: 32px
  }

  &.ml-16 {
    margin-left: 16px
  }

  &.position {
    position: absolute !important;

    &.center {
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
    }

    &.top-right {
      right: 0 !important;
      top: 0 !important;
    }
     
    &.center-right { // Neue Klasse
      right: 0 !important;
      top: 50% !important;
      transform: translateY(-50%) !important; // Vertikal zentrieren
    }
  }
}

.bottom {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(56px + var(--safe-area-inset-bottom));
  .mat-toolbar {
    // background-color: mat.get-color-from-palette($rsvp-accent);
    .mat-mdc-fab {
      position: relative;
      bottom: 50%;
    }
    @include media-breakpoint-up(sm) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    @include mat.elevation(1);
    bottom: 0;
    position: fixed;
    top: unset !important;
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    height: calc(56px + var(--safe-area-inset-bottom));
    z-index: 3;
  }
}

app-root {
  router-outlet+* {
    > .container,
    > .container-fluid {
        --safe-area-inset-right: env(safe-area-inset-right);
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-right: calc(16px + var(--safe-area-inset-right));
        padding-left: calc(16px + var(--safe-area-inset-left));
        flex-grow: 1;
      mat-card {
        .mat-mdc-card-header-text {
          overflow-x: hidden;
          mat-mdc-card-subtitle {
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .img-wrapper {
        @include mat.elevation(1);
        border-radius: 4px;
        // height: 100%;
        img {
          border-radius: 4px;
          height: 100%;
          // object-fit: cover;
          max-width: 927px;
          width: 100%;
        }
      }
      .wrapper {
        @include mat.elevation(1);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
