@import '~@angular/material/theming';

$rsvp-primary: mat-palette($mat-light-green, 900);
$rsvp-accent: mat-palette($mat-orange, 100);
$rsvp-warn: mat-palette($mat-deep-orange, A400);
$rsvp-theme: mat-light-theme($rsvp-primary, $rsvp-accent, $rsvp-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Raleway, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);
@include angular-material-theme($rsvp-theme);

@import './assets/scss/bootstrap';

.rsvp-error {
  color: mat-color($rsvp-warn);
}

html, body { height: 100%; }
body { margin: 0; font-family: Raleway, sans-serif; }
input { font-size: 16px;}

.mat-sidenav {
  button {
    &.active {
      background: map_get($mat-grey, 50);
    }
  }
}

.mat-sidenav-content {
  &::after {
        background-attachment: fixed;
        background-color: white;
        background-image: url('./assets/img/background.jpg');
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: 100%;
        opacity: 0.6;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
      }
  router-outlet+* {
    > .container,
    > .container-fluid {
      flex-grow: 1;
      mat-card {
        mat-form-field {
          font-size: 16px;
        }
        .mat-card-avatar {
          .mat-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
          }
        }
      }
      .wrapper,
      mat-card,
      .mat-expansion-panel {
        background-color: rgba(255,255,255,0.8);
      }
      .img-wrapper {
        @include _mat-theme-overridable-elevation(1, $rsvp-theme);
        border-radius: 4px;
        height: 100%;
        img {
          border-radius: 4px;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
      .wrapper {
        @include _mat-theme-overridable-elevation(1, $rsvp-theme);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        .full-width {
          width: 100%;
        }
        .title {
          align-content: center;
          align-items: center;
          color: $black-87-opacity;
          display: flex;
          height: 40px;
          justify-content: center;
          padding: 8px 16px;
          .title-spacer {
            flex: 1 1 auto;
          }
        }
        .content {
          padding: 16px;
        }
      }
    }
  }
}
