<div class="container pb-3 event-page">
  <div class="row" id="event">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar><mat-icon>event</mat-icon></div>
          <mat-card-title>Programm</mat-card-title>
          <mat-card-subtitle class="mb-0">Von A bis Y wie Yoga</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img src="./assets/img/program.jpg" alt="Photo of something">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            <i>FREITAG</i>
            AB 17:00 ANREISE<br>
            20:00 DINNER (ONLY VEG.) <br>
          </p>
          <p>
            <i>SAMSTAG </i>
            KINDERSCHMINKEN MIT VICKY & LIZA <br>
            08:30 MORNING YOGA MIT JANE <br>
            WALDSPAZIERGANG MIT LIANE <br>
            HOLZSCHNITZEN AM LAGERFEUER MIT PHILIPP <br>
            10:00 FRÜHSTÜCK <br>
            15:00 KAFFEEKLATSCH MIT KAFFEEEXPERTE DENNY <br>
            19:00 BBQ <br>
          </p>
          <p>
            <i> SONNTAG </i>
            08:30 MORNING RUN MIT JAN & SANDRA <br>
            10:00 FRÜHSTÜCK <br>
            12:00 ABREISE<br>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
