<div class="container pb-3">
  <div class="row" id="event">
    <div class="col-12 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon svgIcon="event"></mat-icon>
          </div>
          <mat-card-title>Programm</mat-card-title>
          <mat-card-subtitle class="mb-0">Von A bis Y wie Yoga</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-3">
      <div class="img-wrapper">
        <img srcset="./assets/img/event/program-xs_2x.jpg 580w,
          ./assets/img/event/program-sm_2x.jpg 800w,
          ./assets/img/event/program-md_2x.jpg 970w,
          ./assets/img/event/program-lg_2x.jpg 1200w"
          sizes="(max-width: 959px) 95vw, (max-width: 1024px) 47vw, (max-width: 1279px) 37vw, 32vw"
          src="./assets/img/event/program-xs_1x.jpg"
          alt="Photo of something"/>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 mt-3">
      <mat-card>
        <mat-card-content>
          <p>
            Hier findet ihr eine erste Übersicht. Das Programm wird nach und nach mit tollen Inhalten gefüllt. Freut euch auf ein spannendes Wochenende!
          </p>
          <p>
            <b>Freitag</b><br>
            Ab 17:30 Anreise / Drinks / Get Together / Snacks <br>
            20:00 Dinner<br>
            21:30 Lagerfeuer mit Marshmallows & Stockbrot<br>
          </p>
          <p>
            <b>Samstag </b><br>
            09:00 Morning Yoga mit Liane <br>
            10:00 Frühstück<br>
            12:00 90s Aerobic<br>
            14:00 Coffee Workshop mit Denny
            15:00 Kaffee & Kuchen<br>
            17:00 Holz schnitzen mit Philipp<br>
            19:00 BBQ & Dinner <br>
          </p>
          <p>
            <i>All Day</i><br>
          </p>
            <ul>
              <li>Kinderschminken</li>
              <li>Mal- und Bastelecke für Groß & Klein</li>
              <li>Spieleekcke</li>
              <li>Singstar </li>
            </ul>
          <p>
            Bringt eure liebsten <i>Spiele</i> mit, es wird sich immer jemand zum gemeinsamen Spielen am großen Tisch finden. Denkt auch an eure <i>Badesachen</i>, sollte es sehr warm werden, können wir zum See direkt um die Ecke fahren.
          </p>
          <p>
            <strong>KLEIDERTAUSCHPARTY!!</strong><br>
            Bringt alle 2-3 schöne Kleidungsstücke mit, die ihr loswerden wollt und nehmt euch etwas der anderen mit! Wir tauschen unsere Kleidung!
          </p>
          <p>
            <b>Sonntag</b><br>
            10:00 Frühstück<br>
            11:00 Abreise <br>
            12:00 Übergabe Location <br>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            type="button"
            color="primary"
            routerLink="/rsvp"
            title="Zur Anmeldung">
            <mat-icon svgIcon="loyalty"></mat-icon>
            <span class="ml-1">Anmeldung</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
